{% extends 'base.html' %}
{% block content %}
<h1>Списки задач</h1>
<ul>
    {% for list in lists %}
        <li><a href="{% url 'todo_list_detail' list.id %}">{{ list.title }}</a></li>
    {% endfor %}
</ul>


<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Добавить список</button>
</form>


<button class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#addListModal">Добавить список через модал</button>


<div class="modal fade" id="addListModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" action="{% url 'todo_lists' %}">
                {% csrf_token %}
                <div class="modal-body">
                    {{ form.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Создать</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
